# Node Modules
node_modules

# Non server files
public
.firebase
firebase.json
.firebaserc
.editorconfig
.eslintrc.yml
.eslintignore
.prettierignore
.prettierrc
LICENSE.md
nodemon.json
README.md
.github
.badges
.vscode

# Secrets
.env
.data

# Test Logs
test.*.log
tap.info

# OS Files
.DS_Store
