# Node Modules
node_modules

# Static files
public
.firebase
firebase.json
.firebaserc

# Editor Config files
.editorconfig
.eslintrc.yml
.eslintignore
.prettierignore
.prettierrc
LICENSE.md
nodemon.json
README.md
.github
.vscode

# Build files
.badges
source-icons
scripts

# Secrets
.env
.data

# Tests
test
test.*.log
tap.info

# OS Files
.DS_Store
