@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* Variables */
:root {
    --font-family: 'Raleway';
    --primary: #1e90ff;
    --secondary: #3f51b5;
    --accent: rgb(30, 17, 144);
    --error: #e91e63;
    --warning: #ffc107;
    --info: #00bcd4;
    --success: #4caf50;
}

/* Basic page style resets */
* {
    box-sizing: border-box;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

/* Classes */
.skip {
    width:1px;
    height:1px;
    position: absolute;
    top: -1000px; left: 0;
    z-index: 999999;
    color: var(--accent);
    background-color: var(--info);
    padding: 10px;
}

.skip:focus {
    top: 0;
    width: auto;
    height: auto;
}

/* Fancy button with background gradient and animation */
.button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: #fff;
    padding: 6px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    margin: 5px;
    min-width: 10ch;
    font-size: 0.8rem;
}

.button:hover:not(:active) {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button:active {
    transform: translateY(2px);
}

.button:any-link {
    color: white;
    -webkit-tap-highlight-color: transparent; /* overwrite leaflet tap highlight */
}