/* ================ QR Code ================ */
.img {
    border: 8px ridge var(--accent);
    padding: 5px;
    display: inline-block; 
    overflow: hidden;
    background-color: white;
}

#qrcode > img {
    border: 0;
    border-radius: 0;
    width: 256px;
}

@media all and (display-mode: fullscreen) {
    #qrcode > img, #qrcode > canvas {
        min-width: min(80vw, 80vh);
        /* min-height: min(80vw, 80vh); */
    }
    .img {
        padding: 20px;
        overflow: visible;
    }
}
#myqr:fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2px;
}
#myqr:fullscreen > p,
#myqr:fullscreen > #downloadqr {
    display: none;
}

/* ================ Scanner ================ */
#qr-container {
    max-width: var(--max-width); margin: auto; width: 100%;
}
#qr-reader button {
    text-align: center;
}
#qr-reader {
    border-radius: 10px;
    overflow: hidden;
}