@import url('variables.css');

/* ====================== Basic page style resets ====================== */
* {
    box-sizing: border-box;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

img {
    /* Don't allow selecting or dragging */
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}