.calendar > table, th, td {
    border: 2px solid;
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: white;
    color: black;
}

.scroll {
    overflow-x: auto; 
    max-width: var(--max-width);
    width: 100vw;
    margin: auto;
}

.calendar {
    border-collapse: collapse;
    margin: 0 auto;
}

/* Columns */
.cols {
    display: inline-block;
    max-width: 400px;
    flex-wrap: wrap;
    margin-left: 0.5em;
    margin-right: 0.5em;
    vertical-align: top;
}
.rows {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
@media (max-width: 400px) {
    .cols {
        display: block;
    }
}