@import url('https://fonts.googleapis.com/css?family=Raleway'); /* Raleway font */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css'); /* Font-Awesome Icons */

/* ====================== Variables ====================== */
:root {
    --font-family: 'Raleway';
    --primary: #277FEB;
    --secondary: #3f51b5;
    --secondary-lighter: #4554a8;
    --accent: #1e1190;
    --accent-lighter: #94a9ee;
    --error: red;
    --warning: #ffc107;
    --info: #00bcd4;
    --success: #4caf54;
    --success-lighter: lightgreen;
    --success-darker: darkgreen;
    --max-width: min(1000px, 100vw);
    --delete: #f02828;
    --delete-lighter: #f87777; 
    --delete-darker: #d30707;
    --light-section: #b0d8ff;
    --medium-section: #9ab4ec;
    --purple-section: #9d9bf7;
    --dark-background: #353535;
}